@tailwind base;
@tailwind components;
@tailwind utilities;

  html,body {
    font-family: 'Poppins', sans-serif;
    background-color: #06090f;
    background: linear-gradient(175deg, #1c6b7454 0.5%, #06090f 20%);

    /* -webkit-mask: url(mask.png); */
    /* -webkit-mask: radial-gradient( circle at 0% 50%, black 0%, transparent 98%); */
  }
  :root {
    --body-500: #06090f;
    --body-300: #06090f;
    --body-100: #06090f;
    --aurora-100: #a1376ec2;
    --aurora-300: #39a7b3ae;
    --aurora-500: #39a7b3ae;
    --aurora-700: #1c6b7454;
    --aurora-900: #1c6b7454;
}

.aurora {
    display: block;
    margin: 0 auto;
  
    position: relative;
    overflow: hidden;
    background: var(--body-500);
}

.aurora .aurora-one,
.aurora .aurora-two,
.aurora .aurora-three {
    position: absolute;
    filter: blur(60px);
    opacity: 0.2;
    border-radius: 100%;
}

.aurora .aurora-one {
    width: 600px;
    height: 600px;
    left: -200px;
    top: -300px;
    z-index: 1;
    animation: fly 12s linear infinite;
    transform: rotate(0) translate(80px) rotate(0);
    background-color: var(--aurora-300);
}

.aurora .aurora-two {
    width: 500px;
    height: 800px;
    bottom: -30px;
    left: -80px;
    background-color: var(--aurora-700);
}

.aurora .aurora-three {
    width: 450px;
    height: 450px;
    top: -20px;
    right: -80px;
    animation: flyPlus 8s linear infinite;
    transform: rotate(0) translate(100px) rotate(0);
    background-color: var(--aurora-100);
}

@keyframes fly {
    100% {
        transform: rotate(1turn) translate(100px) rotate(-1turn);
    }
}

@keyframes flyPlus {
    100% {
        transform: rotate(-1turn) translate(100px) rotate(1turn);
    }
}
  
  .gradient-background {
    background: linear-gradient(260deg,#47255f,#2e4884,#3b307b,#291b43,#152034,#081335);
    background-size: 360% 360%;
    opacity: 0.8;
    animation: gradient-animation 18s ease infinite;
  }

  .gradient-2{
 background: linear-gradient(60deg,#42203cab,#1f2f56c8,#211b47bf,#1e1430b0,#1e5244db,#1e5244db);
    background-size: 360% 360%;
    animation: gradient-animation 18s ease infinite; 
    background-color: #213562; 
  }

  
  .glow{
    background: linear-gradient(125deg, aqua 13%, deeppink 38%);
    /* -webkit-mask: url(mask.png); */
    -webkit-mask: radial-gradient( circle at 50% 50%, black 0%, transparent 98%);
  }
  
  .logo {
   
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    /* letter-spacing: -2.8px; */
    font-size: 1.5rem;
    color: #ffffffde;
    /* text-shadow: 0 0 5px rgba(137, 164, 243, 0.678); */
    }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 222.2 84% 4.9%;

      --card: 0 0% 100%;
      --card-foreground: 222.2 84% 4.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 222.2 84% 4.9%;

      --primary: 222.2 47.4% 11.2%;
      --primary-foreground: 210 40% 98%;

      --secondary: 210 40% 96.1%;
      --secondary-foreground: 222.2 47.4% 11.2%;

      --muted: 210 40% 96.1%;
      --muted-foreground: 215.4 16.3% 46.9%;

      --accent: 210 40% 96.1%;
      --accent-foreground: 222.2 47.4% 11.2%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 40% 98%;

      --border: 214.3 31.8% 91.4%;
      --input: 214.3 31.8% 91.4%;
      --ring: 222.2 84% 4.9%;

      --radius: 0.5rem;
    }

    .dark {
      --background: 222.2 84% 4.9%;
      --foreground: 210 40% 98%;

      --card: 222.2 84% 4.9%;
      --card-foreground: 210 40% 98%;

      --popover: 222.2 84% 4.9%;
      --popover-foreground: 210 40% 98%;

      --primary: 210 40% 98%;
      --primary-foreground: 222.2 47.4% 11.2%;

      --secondary: 217.2 32.6% 17.5%;
      --secondary-foreground: 210 40% 98%;

      --muted: 217.2 32.6% 17.5%;
      --muted-foreground: 215 20.2% 65.1%;

      --accent: 217.2 32.6% 17.5%;
      --accent-foreground: 210 40% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 40% 98%;

      --border: 217.2 32.6% 17.5%;
      --input: 217.2 32.6% 17.5%;
      --ring: 212.7 26.8% 83.9%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }


  .Juke{
    font-family: "Jersey 15", sans-serif;
    font-weight: 600;
  }

.songname {
  font-size: 0.9rem;
  font-family: 'Lato', sans-serif;
  font-weight:500;
  color: rgba(240, 248, 255, 0.942);
}
.artist{
  font-size: 0.8rem;
  font-family: 'Poppins', sans-serif;
  color: rgba(240, 248, 255, 0.815);
}


.songname-queue {
  font-size: 0.875rem;
  font-family: 'Lato', sans-serif;
  font-weight:500;
  color: rgba(240, 248, 255, 0.942);
}
.artist-queue {
  font-size: 0.75rem;
  font-family: 'Poppins', sans-serif;
  color: rgba(240, 248, 255, 0.815);
  
}
.wrapper{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.artwork {
  /* display:inline-block; */
  /* position:relative; */
  /* border-radius: 5%; */
  justify-items: center;
  /* height: 0%; */
}

.artwork:before {
  position:absolute;
   display:block;
  /* flex-direction: column;  */
  width: 80vh;
  height: 81vh;
  scale: 0.85;
  z-index: 50;
  background: url(https://res.cloudinary.com/amogl/image/upload/v1489850644/Codepen/Disks/shine.png) center no-repeat;
  background-size: cover;
  mix-blend-mode: overlay;
  filter: sepia(100%) saturate(1000%) hue-rotate(180deg) brightness(100%) contrast(100%) blur(1px);
  border-radius: 50%;
}

.artwork:after {
  content: '';
  padding:1em;
  background: rgb(213, 200, 255);
  z-index: 50;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-51%, -107%);
  border-radius: 50%;
  border: 20px solid rgba(0, 0, 0, 0.449);
  box-shadow: inset  0 .2em .2em rgba(0, 0, 0, 0.764);
}

.artwork .cover {
  
  animation: spin 5s infinite linear;
  border-radius: 50%;
  box-shadow: 0 .3em .5em rgba(0, 0, 0, 0.489);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
    }
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #425c7caf;
}

::-webkit-scrollbar
{
	width: 8px;
	background-color: #070a179f;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #88b4ffbd;
}

 audio::-webkit-media-controls-panel
{
  /* background-color: #869eff; */
  color: #ffffffde;
  background:
  linear-gradient(132deg, #1e3e48 0%, #224751 20%, #364376 70%, #283259);  border-radius: 0px;
}

.audioplayer {
  background:
  linear-gradient(132deg, #1e3e48 0%, #224751 20%, #364376 70%, #283259);
  border-radius: 0px;
}

.glass{
  background:
  linear-gradient(132deg, #ffffff35 0%, rgba(238, 238, 238, 0.168) 20%, rgba(202, 202, 202, 0.148) 70%, #ababab06 100%);
  border: solid rgba(255, 255, 255, 0.06) 1px;
}

.player{
  background:
  linear-gradient(132deg, #ababab06 0%, #41414137 20%, #cacaca26 70%, #ababab06 100%);
 
  border: solid rgba(255, 255, 255, 0.081) 0.5px;
}

.navbar-bg{
  background: #090c1833;
  box-shadow:#101827;
  border-bottom: solid rgba(152, 152, 152, 0.177) 1px;

}

.bordercolour{
    border-bottom: solid #9898982d 1px;

}



#bars {
  display: flex;
  justify-content: center;
  align-items: center;
/*     background: black; */
}

.bar {
  background: rgb(131, 145, 159);
  bottom: 1px;
  height: 1px;
  width: 2px;
  margin: 0px 1.2px;
  border-radius: 10px;
  animation: sound 0ms -800ms linear infinite alternate;
}

@keyframes sound {
  0% {
     opacity: .35;
      height: 3px; 
  }
  100% {
      opacity: 1;       
      height: 13px;        
  }
}

.bar:nth-child(1)  { left: 1px; animation-duration: 474ms; }
.bar:nth-child(2)  { left: 15px; animation-duration: 407ms; }
.bar:nth-child(3)  { left: 29px; animation-duration: 433ms; }
.bar:nth-child(4)  { left: 43px; animation-duration: 458ms; }
.bar:nth-child(5)  { left: 57px; animation-duration: 400ms; }
.bar:nth-child(6)  { left: 71px; animation-duration: 427ms; }
.bar:nth-child(7)  { left: 85px; animation-duration: 441ms; }
.bar:nth-child(8)  { left: 99px; animation-duration: 419ms; }
.bar:nth-child(9)  { left: 113px; animation-duration: 487ms; }
.bar:nth-child(10) { left: 127px; animation-duration: 442ms; }